@import "../../../../themes.scss";

.query-form {
    width: 100%;
    max-width: 750px;

    nb-card-body {
        overflow: visible;
    }
}

.ask-buttons-group {
    height: 40px;
    width: fit-content;
    overflow: hidden;
    border-radius: nb-theme(button-rectangle-border-radius);

    .ask-buttons {
        button {
            box-shadow: none;
            border-radius: 0;
        }
    }

    .ask-buttons:first-child {
        button:first-child {
            border-top-left-radius: nb-theme(button-rectangle-border-radius);
        }
        button:last-child {
            border-top-right-radius: nb-theme(button-rectangle-border-radius);
        }
    }

    .ask-buttons:last-child {
        button:first-child {
            border-bottom-left-radius: nb-theme(button-rectangle-border-radius);
        }
        button:last-child {
            border-bottom-right-radius: nb-theme(button-rectangle-border-radius);
        }
    }
}
