<div class="queries-container">
    <app-ask-query-form class="query"></app-ask-query-form>
    <div class="title">Previously Asked Queries</div>
    <ng-container *ngIf="loading; else loadedContent">
        <div class="loader" [nbSpinner]="loading" nbSpinnerStatus="primary"></div>
    </ng-container>
    <ng-template #loadedContent>
        <div *ngIf="!queries.length">There are no queries to show.</div>
        <nb-card class="query" *ngFor="let query of queries">
            <nb-card-header>{{query.from}} <span style="font-weight: normal;">asked:</span>
                <div class="on-date">
                    <nb-icon icon="clock-outline" style="vertical-align: text-bottom;"></nb-icon>
                    {{query.askedOn | date}}
                </div>
            </nb-card-header>
            <nb-card-body>
                <b>@{{query.to}}</b> {{query.body}}
            </nb-card-body>
            <nb-accordion>
                <nb-accordion-item [disabled]="!query.replies.length">
                    <nb-accordion-item-header>
                        <ng-container *ngIf="query.replies.length; else noResposnes">
                            See Responses ({{query.replies.length}})
                        </ng-container>
                        <ng-template #noResposnes>
                            No Responses Yet
                        </ng-template>    
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <nb-card class="reply" *ngFor="let reply of query.replies">
                            <nb-card-header>{{reply.from}} <span style="font-weight: normal;">responded:</span>
                                <div class="on-date">
                                    <nb-icon icon="clock-outline" style="vertical-align: text-bottom;"></nb-icon>
                                    {{reply.repliedOn | date}}
                                </div>
                            </nb-card-header>
                            <nb-card-body>
                                {{reply.body}}
                            </nb-card-body>
                        </nb-card>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </nb-card>
    </ng-template>
</div>
