<nb-layout>
  <nb-layout-header fixed>
    <button nbButton ghost (click)="toggle()"><nb-icon icon="menu-2-outline"></nb-icon></button>
    <div class="title">Query Portal</div>
  </nb-layout-header>

  <nb-sidebar [fixed]="sidebarCollapsible" [state]="sidebarCollapsible ? 'collapsed' : 'expanded'" #sidebar>
  </nb-sidebar>

  <nb-layout-column>
    <div *ngIf="sidebarCollapsible" [class.overlay]="sidebar.expanded" (click)="collapse()"></div>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
